body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  height: 100vh;
}

.app-layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .sidebar-container {
    display: flex;
    height: 100%;

    .outlet-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}

.component-wrapper {
  height: 100%;
  width: 100%;
}
