body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  height: 100vh;
}

.app-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.component-wrapper {
  height: 100%;
  width: 100%;
}
